!!!
%html
  %head
    %title IRKit Admin - #{request.host}
    %meta{name: 'viewport', content: 'width=device-width,initial-scale=1.0'}
  %body
    %ul
      - @irkit_commands.each do |name, command|
        %li
          %a.command{href: "/execute/#{name}"}= name
