ul {
  display: inline;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  padding: 10px;
  border: solid 1px #eee;
}
a.command {
  font-size: 1.5em;
  display: block;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
a:visited.command {
  color: #000;
}
